*{
    padding: o;
    margin: 0;
    box-sizing: border-box;
}

.header-center{
    display: flex;
    justify-content: center;
}

header {
    font-size: 40px;
    background-color: palevioletred;
    color: black;
    margin: 3px;
    padding: 5px;
    border-radius: 8px;
    display: flex;
    align-content: center;
    justify-content: center;
    }






.ajustando__contenido{
    padding: 20px;
    background-color: blanchedalmond;
    color: blue;
    margin: 8px 20px;
    width: fit-content;
    border-radius: 8px;

}